EXPO_TUNNEL_SUBDOMAIN=your-subdomain
EXPO_PACKAGER_HOSTNAME=https://your-subdomain.preview.emergentagent.com
EXPO_PUBLIC_BACKEND_URL=https://your-subdomain.preview.emergentagent.com
EXPO_USE_FAST_RESOLVER="1"
METRO_CACHE_ROOT=/app/frontend/.metro-cache
EXPO_PACKAGER_PROXY_URL=https://your-subdomain.preview.emergentagent.com
